.nav{ 
    overflow: hidden;
    width: 100%;
    
    ul li{
        list-style: none; 
        float: left; 
        padding: 0 6px; 
        height: 22px;
        
        a { text-decoration: none; 
            font: 14px "Microsoft YaHei",sans-serif;
        }
    }
}