@import 'var.less';
@import 'reset.less';

header {
  height: @headerHeightL;
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#27ae60),to(rgba(82, 226, 156, 0.7)));
}

.nav {
  width: 100%;
  height: @navHeightL;
  background-color: @navColor;
  float: left;

  &__brand {
    width: @navBrandWidthL;
    height: @navBrandHeightL;
    float: left;
    & img {
      margin: @navBrandImgMarginL;
    }
  }

  &__title {
    font-size: @navTitleFontSizeL;
    margin: @navTitleMarginTopL @navTitleMarginRightL @navTitleMarginBottomL @navTitleMarginLeftL;
    float: left;
  }

  &__menu {
    height: @navMenuHeightL;
    float: left;
    margin-top: @navMenuMarginTopL;
    & li {
      float: left;
    }
    & a {
      font-size: @navMenuFontSizeL;
      line-height: @navMenuFontSizeL;
      margin-right: @navMenuMarginRightL;
      float: left;

      &:hover {
        border-bottom: solid @navMenuHoverColor 2px;
      }
    }
  }
}

.fixed {
  position: fixed;
  top: 0;
  background-color: @navColorFixed;
}

.jumbotron {
  & h1 {
    color: @jumH1Color;
    font-size: @jumH1L;
    line-height: @jumH1L;
    font-weight: lighter;
    text-align: center;
    padding-top: @jumH1PaddingTopL;
    margin: @jumH1MarginL;
  }

  &__search {
    text-align: center;
    padding-top: @jumSearchPaddingTopL;
    position: relative;

    & input {
      margin: @jumInputMarginTopL @jumInputMarginRightL @jumInputMarginBottomL @jumInputMarginLeftL;
      padding: @jumInputPaddingTopL @jumInputPaddingRightL @jumInputMarginBottomL @jumInputPaddingLeftL;
      width: @jumInputWidthL;
      height: @jumInputHeightL;
      border: 1px solid @jumInputBorderColor;
      border-radius: @jumInputBorderRadius;
      color: @jumInputBorderColor;
      background: @jumInputBackground;
    }

    & .go {
      position: absolute;
      margin-left: @jumGoMarginLeftL;
      width: @jumGoWidthL;
      height: @jumGoHeightL;
      background: url(../images/search-icon.svg) 9px 7px no-repeat;
      background-color: @jumGoBackgroundColor;
      border: 1px solid @jumGoBorderColor;
      cursor: pointer;

      &:hover {
        border: 2px solid @jumGoBorderColor;
      }
    }
  }
}

#particles {
  display: block;
  height: @headerHeightL;
  width: 100%;
  position: absolute;
  top:0;
  z-index: -999;
  background: #21389c;
}

.content {
  position: relative;

  &__wrap {
    width: @contentWrapWidthL;
    margin : auto auto;
  }

  &__info {
    background-color: @contentInfoBackgroundColor;
    border: 2px solid @contentInfoBackgroundColor;
    border-radius: @contentInfoBorderRadius;
    box-shadow: 3px 3px 3px #888888;
    margin: @contentInfoMarginL;
    padding: @contentInfoPaddingL;
    width: @contentInfoWidthL;
    float: left;
    &-name {
      & h1 {
        font-size: @contentInfoNameH1FontSizeL;
        line-height: @contentInfoNameH1FontSizeL;
      }
    }
    &-type, &-kind, &-tiem, &-place {
      border: solid black 1px;
      position: absolute;
    }
  }
}
