//___header
@headerHeightL: 600px;

//nav
@navHeightL: 80px;
@navColor: RGBA(255, 255, 255, .8);

@navBrandWidthL: 80px;
@navBrandHeightL: 80px;
@navBrandImgMarginL: 11px;

@navTitleFontSizeL: 20px;
@navTitleMarginTopL: 25px;
@navTitleMarginRightL: 25px;
@navTitleMarginBottomL: 25px;
@navTitleMarginLeftL: 15px;

@navMenuHeightL: 40px;
@navMenuMarginTopL: 27px;
@navMenuFontSizeL: 15px;
@navMenuMarginRightL: 20px;
@navMenuHoverColor: #16c9e2;

  //nav fixed top
@navColorFixed: white;

//jumbotron
@jumH1L: 50px;
@jumH1Color: #fcfaff;
@jumH1PaddingTopL: 200px;
@jumH1MarginL: 0;

@jumSearchPaddingTopL: 50px;

@jumInputMarginTopL: 0;
@jumInputMarginRightL: auto;
@jumInputMarginBottomL: 0;
@jumInputMarginLeftL: auto;
@jumInputPaddingTopL: 0;
@jumInputPaddingRightL: 10px;
@jumInputPaddingBottomL: 0;
@jumInputPaddingLeftL: 10px;
@jumInputWidthL: 45%;
@jumInputHeightL: 34px;
@jumInputBorderColor: rgba(255, 255, 255, .8);
@jumInputBorderRadius: 2px;
@jumInputColor: #282828;
@jumInputBackground: rgba(0, 0, 0, .15);

@jumGoMarginLeftL: -1px;
@jumGoWidthL: 40px;
@jumGoHeightL: 34px;
@jumGoBackgroundColor: rgba(0, 0, 0, .15);
@jumGoBorderColor: rgba(255, 255, 255, .8);

//__content

//info
@contentInfoBackgroundColor: rgba(194, 203, 185, 0.44);
@contentInfoBorderRadius: 2px;

@contentInfoNameH1FontSizeL: 30px;

