* { margin: 0; padding: 0; }
#content {
	overflow: hidden;
	margin-top: $header-height; 
}
.main {
	width: 100%; 
	float: left;
	.main-wrap {
		margin: 0 $extra-width + $sub-width 0 0;
	}
}
.sub {
	width: $sub-width;
	float: left;
	margin-left: - ( $sub-width + $extra-width );
}
.extra {
	width: $extra-width;
	margin-left: -$extra-width;
	float: left; 
}
#footer { width: 100%; }
#header { width: 100%; position: absolute; top: 0; }