#RewriteEngine On
#RewriteBase /  
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d  
#RewriteRule ^(.*)$ /index.php?/$1 [L]   

RewriteEngine on
RewriteBase /
RewriteRule ^(findapp|core|static|captcha|.svn) index.php/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [QSA,L]

