@charset "utf-8";

/* EcjtuNet 失物招领移动前端
 *
 *日新网失物招领移动端页面
 *
 *@author           Venshy at EcjtuNet
 *@version          0.1
 *@last-time        2014.7.9
 *
 */
 
 

/* 配色
 ----------------------------------------------------------*/
$page-bg :              #f4f4f4;              /* 页面底色 */
$main-bg :              #dbdbdb;
$main-text-color :      #000;
$thing-text-color :     #3f9bf4;              /* 物品名称 */
$note-color :           #fff;       /* tel,url,adress,date */
$unac-btn-color :       #a6aaaa;
$active-btn-color :     #3f9bf4 !important;
$btn-border-color :     #a6aaaa;
$search-text-color :    #a6aaaa;
$search-border :        #a6aaaa;
$search-btn-bg :        #a6aaaa;
$header-bg :            blue !default;
$header-border :        #57a5f1;
$list-border :          #0562bc;
$notice-kind :          #474747;              /* 物品类别 */
$load-text :            #717171;
$load-border :          #0562bc;
$footer-text-color :    #467593;
$seclist-border :       #1c7bd8;          /* 二级列表边框 */
$seclist-bg :           #f4f4f4;          /* 二级列表背景 */
$seclist-text :         #1c7bd8;          /* 二级列表文字 */
$ac-seclist-text :      #fff;             /* 二级选中文字 */
$ac-seclist-bg :        #000;
$telshow-bg :           #000;               /* 联系弹出框 */
$telshow-text :         #fff;


/* 布局
 ----------------------------------------------------------*/
$header-height :        66px;
$main-width :           100%;
$sub-width :            14px !default;
$extra-width :          14px !default;
$btn-height :           26px;

/* 字体
 ----------------------------------------------------------*/
$siteurl-font :         11px/1.0 "Microsoft YaHei",
                            "微软雅黑", sans-serif;
$btn-font :             18px/26px "Microsoft YaHei",
                            "微软雅黑", sans-serif;
$search-font :          16px "Microsoft YaHei",
                            "微软雅黑", sans-serif;
$list-font :            16px/22px "Microsoft YaHei",
                            "微软雅黑", sans-serif;
$thing-font :           14px/1.0 "Microsoft YaHei",
                            "微软雅黑", sans-serif;
$main-font :            11px/1.0 "Microsoft YaHei",
                            "微软雅黑", sans-serif;
$date-font :            11px/1.0 "Microsoft YaHei",
                            "微软雅黑", sans-serif;
$phone-font :           14px/1.0 "Microsoft YaHei",
                            "微软雅黑", sans-serif;
$notice-kind-font :     9px/1.0 "Microsoft YaHei",
                            "微软雅黑", sans-serif;
$load-font :            16px/1.5 "Microsoft YaHei",
                            "微软雅黑", sans-serif;
$friendlink-font :      6px/1.5 "Microsoft YaHei",
                            "微软雅黑", sans-serif;
$copyright-font :       6px/1.5 "Microsoft YaHei",
                            "微软雅黑", sans-serif;
$seclist-font :         11px/1.5 "Microsoft YaHei",
                            "微软雅黑", sans-serif;
$telshow-font :         16px/1.5 "NSimSuns",
                            "新宋体"， sans-serif;


/* 路径
 ----------------------------------------------------------*/
$sprite-path :  "../images/all.jpg";
$onepx :        "../images/onepx.png";

/* 文件载入
 ----------------------------------------------------------*/
@import  "reset";                  /*  css reset  */
@import  "mixin";                  /*  混入文件  */
@import  "layout/s-m-e";           /*  布局  */

/* =page
 ----------------------------------------------------------*/
em{
    vertical-align:middle;
}

/* =header
 ----------------------------------------------------------*/
#header{
    background: url($onepx) repeat-x; 
    height: $header-height;
    
    div#header-wrap{
        width: (605/640)*100%;
        height: 52px;
        margin: 4px auto 0;
        border: 3px solid $header-border;
        position: relative;
        @include radius(5px);
        
        h1{
            position: absolute; 
            right: 15px; 
            top: 6px; 
            font-size: 0; 
            width: 110px; 
            height: 27px;
            background:$header-bg url($sprite-path) 
                no-repeat -78px 0;
        }
        
        #sitelogo{
            position: absolute; 
            left: 6px; 
            top: 25px; 
            width: 73px; 
            height: 23px; 
            background: url($sprite-path) no-repeat -5px 0;
        }
        
        a#siteurl{ 
            display: block;
            position: absolute;
            right: 15px;
            top: 33px; 
            font: $siteurl-font;
            color: $note-color;
            text-decoration: none;
        }
        
    }
}


/* =content
 ----------------------------------------------------------*/
#content{
    background: $page-bg;
}
.main-wrap{ 
    padding-top: 5px;
    overflow: hidden;
    height: 700px;

    /* 寻物招领按钮 */
    .noticekind-btn{ 
        width: 82px; 
        height: $btn-height; 
        font: $btn-font;
        cursor: pointer; 
        color: $unac-btn-color; 
        float: left; 
        margin-right: 8px;
        background: none; 
        text-align: center; 
        border:2px solid $btn-border-color; 
        @include radius(6px);
    }
    /* 寻物招领按钮active */
    .active{
        color: $active-btn-color;
    }
    /* 搜索框 */
    #search{ 
        position: relative;
        top: 7px;
        width: (280/286)*100%;
        border:2px solid $search-border;
        height: 31px;
        margin-bottom:7px;
        clear: both;  
        @include radius(8px);
        
        #searchInput{ 
            border: 0;
            width: (231/284)*100%;
            margin-left:5px;
            padding-left:5px;
            height: 31px; 
            clear: both; 
            font: $search-font; 
            color: $search-text-color;
            outline: none;
        }
        
        #searchBtnBox{
            @include radius(5px);
            position: absolute; 
            right: -1px; 
            top: 0px; 
            background: #aaa;
            width: 24px; 
            height: 21px;
            padding:5px 13px;
            display: block;
            cursor: pointer;
            
            em{
                display:block;
                border:0;
                width:25px;
                height:21px;
                background: url($sprite-path) 
                no-repeat -5px -25px;
                
            }
        }
    }
    /* 下拉列表 */
    #searchlist{
        width:100%;
        margin-top:15px;
        
        #kindlist, #timelist, #release{
            padding:0 8px;
            float:left;
            height:23px;
            font:$list-font;
            border:2px dashed $list-border;
            @include radius(8px);
            margin-right:4px;
            cursor:pointer;
            position:relative;
            
            em{
                display:inline-block;
                width:12px;
                height:9px;
                background:url($sprite-path) 
                    no-repeat -30px -25px;
            }
        }
        
        #kindlist ul, #timelist ul{
            position:absolute;
            z-index:1;
            display:none;
            width:130px;
            overflow:hidden;
            padding:5px 0;
            background:$seclist-bg;
            opacity:0.9;
            border:2px solid $seclist-border;
            @include radius(3px);
            
            li{
                float:left;
                text-align:center;
                width:56px;
                margin:0 4px;
                
                a{
                    text-decoration:none;
                    font:$seclist-font;
                }
            }
            .sec-ac{
                background:$ac-seclist-bg;
                
                a{
                    color:$ac-seclist-text;
                }
            }
        }
        
        #release{
            float:right;
            
            span{
                border-bottom: 1px solid $list-border;
            }
            
            em{
                display:inline-block;
                width:22px;
                height:22px;
                background:url($sprite-path)
                    no-repeat -42px -25px;
            }
        }
    }
   
    /* 启事内容 */
    #contentlist{
        margin-top:6px;
        overflow:hidden;
        width:100%;
        
        .notice{
            width:100%;
            background:$main-bg;
            margin:6px auto;
            @include radius(3px);
            position:relative;
            
            .telshow{
                display:none;
                position:absolute;
                left:0;
                top:0;
                width:100%;
                @include radius(3px);
                background:$telshow-bg;
                opacity:0.88;
                font:$telshow-font;
                color:$telshow-text;
                padding:22px 0 20px;
                text-align:center;
                
                .close{
                    position:absolute;
                    top:0;
                    right:0;
                    font:16px/1.5 "Microsoft YaHei",
                            "微软雅黑", sans-serif;
                    width:30px;
                }
            }
            
            .notice-wrap{
                width:(280/292)*100%;
                margin:0 auto;
                overflow:hidden;
                
                .notice-head{
                    overflow:hidden;
                    width:100%;
                    padding:7px 0 6px;
                    
                    h3{
                        font:$thing-font;
                        color:$thing-text-color;
                        float:left;
                        overflow:hidden;
                        
                        em{
                            display:inline-block;
                            margin-right:2px;
                            width:23px;
                            height:22px;
                            background:url($sprite-path) 
                                no-repeat -5px -46px;
                        }
                    }
                    
                    .notice-note{
                        float:right;
                        
                        .notice-kind{
                            padding-right:12px;
                            font:$notice-kind-font;
                            color:$notice-kind;
                        }
                        
                        .notice-time{
                            color:$note-color;
                            font:$date-font;
                        }
                    }
                }

                p{
                    padding:0 18px 0 26px;
                    font:$main-font;
                    color:$main-text-color;
                }
                
                ul{
                    display:block;
                    float:right;
                    overflow:hidden;
                    margin:7px 0;
                    
                    li{
                        float:left;
                    }
                    
                   .tel, .address{
                        font:$phone-font;
                        color:$note-color;
                        border-right:1px solid #939393;
                        padding:0 5px;
                        
                        em{
                            display:inline-block;
                            width:20px;
                            height:20px;
                        }
                    }
                    
                    .tel em{
                        background:url($sprite-path) 
                                no-repeat -28px -47px;
                    }
                    .address em{
                        background:url($sprite-path)
                            no-repeat -47px -47px;
                    }
                    
                    .weibo{
                        background:url($sprite-path)
                            no-repeat -68px -47px;
                        width:20px;
                        height:20px;
                        margin-left:7px;
                    }
                }

            }
            
            
        }
        
        hr{
            width:100%;
            height:1px;
            border:0;
            background:#fff;
        }
        
        #load{
            display:block;
            height:28px;
            padding:0 3px;
            background:main-bg;
            border:2px dashed $load-border;
            font:$load-font;
            @include radius(8px);
            margin:7px auto;
        }
    }
}

/* =footer
 ----------------------------------------------------------*/
#footer{
    margin-top:60px;
    text-align:center;
    font:$friendlink-font;
    
    #friendlink{
        color:$footer-text-color;
    }
    a{
        text-decoration:none;
        font:$friendlink-font;
        margin-right:4px;
        color:$footer-text-color;
        border-bottom:1px solid $footer-text-color;
    }
    .rightnone{
        border-right:none;
    }
    
    #copyright{
        font:$copyright-font;
        color:$footer-text-color;
    }
}
